# Ignore all mvs-project pc-specific stuff
*.suo
project/Assignment4_mvs/Assignment4_mvs.opensdf
project/Assignment4_mvs/Assignment4_mvs.sdf
project/Assignment4_mvs/Assignment4_mvs.vcxproj.user
project/Assignment4_mvs/Assignment4_mvs/Assignment4_Testing/.vcxproj.user
project/Assignment4_mvs/ipch/
project/Assignment4_mvs/build/

# Ignore the output files
project/Assignment4_mvs/Debug/*
!project/Assignment4_mvs/Debug/models/
!project/Assignment4_mvs/Debug/glut32.dll

project/Assignment4_mvs/Release/*
!project/Assignment4_mvs/Release/models/
!project/Assignment4_mvs/Release/glut32.dll

project/Assignment4_mvs/Test/
#project/Assignment4_mvs/Test/*
#!project/Assignment4_mvs/Test/Assignment4_mvs.lib

project/Assignment4_Testing/Debug/
project/Assignment4_Testing/Release/
project/Assignment4_Testing/Test/